/* root
-------------------- */
:root {
  --black: #111729;
  --light-black: #20293a;
  --gray: #4a5567;
  --light-gray: #97a3b6;
  --white: #fff;
  --dark-blue: #6466e9;

  /* color map */
  --background-color: var(--black);
  --quote-background-color: var(--light-black);
  --author-text-color: var(--white);
  --tag-color: var(--dark-blue);
  --quote-text-color: var(--light-gray);
  --icon-color: var(--gray);

  /* font */
  --font-base: 'Outfit', inter, system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}
